<div id="spree-footer">
	<div class="container">
		<footer id="footer" class="row" data-hook>
		  <div id="footer-left" class="col-md-6" data-hook>
		    <p>Copyright © 2015 Detox Water. All rights reserved.</p>
		  </div>
		  <div id="footer-right" class="col-md-6" data-hook></div>
            <p class="pull-right">Contact Us: sales@detoxwater.com</p>
		</footer>
	</div>
</div>