<div id="spree-footer">
	<div class="container footer-container">
		<footer id="footer" class="row" data-hook>
		  <div id="footer-left" class="col-md-6" data-hook>
		    <p>COPYRIGHT © 2015 DETOXWATER. ALL RIGHTS RESERVERED.</p>
		  </div>
		  <div id="footer-right" class="col-md-6" data-hook>
            <p class="pull-right">CONTACT US: INFO@DETOXWATER.COM</p>
            </div>
		</footer>
	</div>
</div>